@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 background-color: white;
 color: #0C8596; 
 font-family: Montserrat;

}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
  color: #0C8596; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.btn {
 background-color: #0C8596;
}
.primary-text{
  color: #0C8596; 

}
input:focus {
  outline: none;
  box-shadow: none;
}